body{
    font-family: 'Oswald', sans-serif;
    
    margin: 10%;
}
h1{
    font-family: 'Roboto', sans-serif;
    
}
.orange-color{
    color: orange;
}
.color-blue{
    color: lightseagreen;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(black, gray);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 15px;
    margin-bottom: 2%;

}

.first-one{
    display: flex;
}
.stay-mission{
    width: 80%;
    padding: 2%;
    
}
.stay-mission img{
    width: 50%;
}
.year{
    color: lime;
}
.my-mission{
    width: 500px;
    text-align: center;
    margin: 10%;
}
.fd{
    box-shadow: 10px 10px 50px blanchedalmond;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
#first-box{
    background-color: linear gradient(rgb(192, 167, 192));
}
.cd{
    box-shadow: 10px 10px 50px rgb(145, 29, 29) ;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
#second-box{
    background-color: rgb(22, 11, 2);
}
.hd{
    box-shadow: 10px 10px 50px darkblue ;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
#third-box{
    background-color: rgb(185, 153, 153);
}
.box-class{
    display: flex;
    margin: 5%;
}
.illu{
    width: 50%;
}
.third-one{
    display: flex;
}
.my-pht{
    width: 100%;
    padding: 2%;
}
.my-pht img{
    width: 80%;
}
.global-com{
    width: 100%;
    padding: 2%;
}
.global-com img{
    width: 80%;
}
.fourth-one{
    display: flex;
}